# /etc/systemd/system/database.service
[Unit]
Description=Log Daemon Service
After=network.target          # 在网络就绪后启动
Wants=network.target          # 软依赖：网络没起来也继续

[Service]
Type=simple                   # 主进程就是 ExecStart 进程
ExecStart=src/log_daemon/log_daemon
ExecStop=/bin/kill -s SIGTERM $MAINPID  # 优雅停止
Restart=always                # 无论何种原因退出都重启
RestartSec=3                  # 重启前等待 3 秒
StartLimitIntervalSec=60      # 60 秒内
StartLimitBurst=5             # 最多尝试 5 次，超出则不再重启

# 进程环境
User=myapp
Group=myapp
WorkingDirectory=/home/ubuntu/Project/ENavigate/master/build/
